 .u-section-1 {
  background-image: url("images/bg3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 783px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 34px;
}

.u-section-1 .u-text-1 {
  margin: 113px 26px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  margin: 3px 119px 0 64px;
}

.u-section-1 .u-text-3 {
  line-height: 0.8;
  font-size: 4.5rem;
  margin: 20px 0 0 26px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 26px 26px 0;
}

.u-section-1 .u-text-5 {
  margin: 13px 103px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -150px 251px 0 44px;
}

.u-section-1 .u-text-7 {
  margin: 51px auto 0 13px;
}

.u-section-1 .u-image-1 {
  min-height: 683px;
  background-image: url("images/05096a4dd6324fe978420e015a77f641.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 122px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 138px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 69px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -109px;
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -152px;
  }

  .u-section-1 .u-image-1 {
    min-height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 82px;
  }

  .u-section-1 .u-text-3 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: -20px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 34px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -320px;
  }

  .u-section-1 .u-image-1 {
    min-height: 431px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 62px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: 141px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -127px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -109px;
  }

  .u-section-1 .u-image-1 {
    min-height: 647px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -315px;
  }

  .u-section-1 .u-image-1 {
    min-height: 407px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 183px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 856px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 482px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 194px;
  width: 194px;
  background-image: url("images/vegetables.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-3 .u-text-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 194px;
  width: 194px;
  background-image: url("images/SALAD.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-3 .u-text-4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 507px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 194px;
  width: 194px;
  background-image: url("images/Sandwich.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-3 .u-text-6 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 194px;
  width: 194px;
  background-image: url("images/FRIEDCHICKEN.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-3 .u-text-8 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 395px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 630px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 630px;
  background-image: url("images/122408880_110630204165531_2601819427288409179_n.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-4 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-image-1 {
    min-height: 560px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    min-height: 353px;
  }
}